<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras.spring-security">
        <!-- extra namespace for getting logged user username and roles-->
<head>
    <meta charset="UTF-8">
    <title>Oskar Company Home Page</title>
</head>
<body>
    <h2>Oskar Company Home Page</h2>
    <hr>
    <p>
        Welcome to the Oskar company homepage
    </p>

    <hr>
        <!--display username and role based on spring security-->
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    <hr>
        <div sec:authorize="hasRole('MANAGER')">
            <!-- add a link to point to/leaders .. for managers role -->
            <a th:href="@{/leaders}">Leadership meeting</a>
        </div>
         <div sec:authorize="hasRole('ADMIN')">
            <!-- add a link to point to/systems .. for admins role -->
            <a th:href="@{/systems}">IT Systems Meeting</a>
         </div>
    <hr>
    <!-- Add logout button -->
    <form   action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>